<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Register</title>
</head>
<body>
<form class="form-body" action="" method="POST">
  <div class="form-group" style= "margin: 2em">
    <h2><label>Email address</h2></label>
     <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" style="width: 800px;">
    <small id="emailHelp" class="form-text text-muted"></small>
  </div>
  <div class="form-group" style= "margin: 2em">
    <h2><label>Password</label></h2>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" style="width: 800px;">
  </div>
  <button style= "margin: 2em" type="submit" class="btn btn-primary">Register</button>
</form>
</body>
